{% extends 'globale.html.twig' %}

{% block title %}HOME{% endblock %}

{% block main %}
    <p>L'application MyStudyPlanner permet aux étudiants de gérer efficacement leur emploi du temps et leurs tâches. Grâce à une interface intuitive, les utilisateurs peuvent ajouter, modifier ou supprimer des cours, recevoir des rappels personnalisés et suivre leur progression. Les fonctionnalités collaboratives incluent la possibilité de partager des plannings avec des camarades et de participer à des discussions de groupe en temps réel. Un système de notification intelligent s'adapte aux préférences de l'utilisateur pour optimiser la gestion du temps et réduire le stress lié aux échéances scolaires.</p>
{% endblock %}
